.swiper__link {
    display: flex;
    justify-content: space-between;
    width: 182px;
    align-items: center;    
}

@media (max-width: 768px) {
    .swiper__link {
        margin-top: -27px;
    }
}

@media (max-width: 550px) {
    .swiper__link {
        display: none;
    }
}