.answer__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-top: 81px;
    margin-bottom: 23px;
}

@media (max-width: 768px) {
    .answer__title {
        font-size: 32px;
        line-height: 34px;
        margin-top: 64px;
    }
}

@media (max-width: 475px) {
    .answer__title {
        font-size: 30px;
        line-height: 34px;
        margin-top: 5px;
        margin-bottom: 14px;
    }
}    

