.header__logo {
    width: 141px;
    height: 24px;
    background-image: url('../../../images/NewsAnalyzer.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 32px;
    margin-left: 102px;
}