@import url(./_white/header__logo_white.css);

.header__logo {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1A1B22;;
    margin-left: 105px;
}

@media (max-width: 768px) {
    .header__logo {
        margin-left: 39px;
    }
}

@media (max-width: 475px) {
    .header__logo {
    margin-left: 16px;
    font-size: 16px;
    line-height: 24px;
    }
}

