.results__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-top: 16px;
    padding: 0 104px;
}

@media (max-width: 1280px) {
    .results__list {
        grid-gap: 8px;
        padding: 0 50px;
    }
}

@media (max-width: 900px) {
    .results__list {
        grid-gap: 8px;
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .results__list {
        grid-gap: 8px;
        padding: 0 40px;
    }
}

@media (max-width: 475px) {
    .results__list {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 23px;
        padding: 0 16px;
    }
}    