.results__list {
    display: grid;
    width: calc(100% - 208px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-top: 16px;
}

@media (max-width: 1280px) {
    .results__list {
        grid-gap: 8px;
        width: calc(100% - 140px);
    }
}

@media (max-width: 900px) {
    .results__list {
        grid-gap: 8px;
        width: calc(100% - 80px);
    }
}

@media (max-width: 865px) {
    .results__list {
        width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .results__list {
        grid-gap: 8px;
    }
}

@media (max-width: 710px) {
    .results__list {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .results__list {
        grid-template-columns: repeat(1, 1fr);
        width: calc(100% - 32px);
        margin-top: 23px;
    }
}    