@import url(./__logo/__logo.css);
@import url(./__navigation-item/__navigation-item.css);
@import url(./__navigation/__navigation.css);
@import url(./__navigation-item/_active/_active.css);
@import url(./__bg/__bg.css);

.header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .header {
        max-height: 64px;
    }
}

@media (max-width: 475px) {
    .header {
        height: 56px;
    }
}
