@import url(./__logo/header__logo.css);
@import url(./__navigation-item/header__navigation-item.css);
@import url(./__navigation/header__navigation.css);
@import url(./_index/header_index.css);

.header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    box-shadow: inset 0px -1px 0px #D1D2D6;
}

@media (max-width: 768px) {
    .header {
        max-height: 64px;
    }
}

@media (max-width: 475px) {
    .header {
        height: 56px;
    }
}
