@import url(./_hiden/results__button_hidden.css);

.results__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1A1B22;
    background-color: #FFFFFF;
    border-radius: 80px;
    width: 288px;
    height: 64px;
    margin: 64px auto 80px;
    border: none;
}

.results__button:hover {
    opacity: 0.9;
    background-color: #e5e5e5;
    cursor: pointer;
}

@media (max-width: 768px) {
    .results__button {
        width: 240px;
        height: 56px;
        margin: 30px auto 40px;
    }
}

@media (max-width: 475px) {
    .results__button {
        width: 288px;
        margin-top: 13px;
    }
}    

.results__button_hidden {
    display: none;
}