@import url(./__copyright/__copyright.css);
@import url(./__links/__links.css);
@import url(./__link-item/__link-item.css);
@import url(./__icons/__icons.css);
@import url(./__icon-item/__icon-item.css);
@import url(./__nav/__nav.css);

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    width: 85.3%;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 54px;
        width: 89%;
    }
}

@media (max-width: 320px) {

}    