@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
@import url(./__link-item/footer__link-item.css);
@import url(./__icons/footer__icons.css);
@import url(./__icon-item/footer__icon-item.css);
@import url(./__nav/footer__nav.css);

.footer {
    display: flex;
    justify-content: space-between;
    
    width: 85.3%;
    margin: 24px auto 26px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 16px;
        width: 89%;
        margin-bottom: 18px;
    }
}

@media (max-width: 690px) {
    .footer {
        flex-wrap: wrap;
        margin-bottom: 23px;
        margin-top: 51px;
    }
}    

@media (max-width: 320px) {
    .footer {
        margin-top: 9px;
        margin-bottom: 21px;
    }
}