@import url(./_hidden/search__error-message_hidden.css);

.search__error-message {
    /* margin-top: 4px; */
    margin-top: -20px;
    color: #FF0000;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}
