@import url(./__title/diagram__title.css);
@import url(./__grid/diagram__grid.css);
@import url(./__text/diagram__text.css);
@import url(./__container/diagram__container.css);
@import url(./__scale/diagram__scale.css);
@import url(./__part/diagram__part.css);
@import url(./__date/diagram__date.css);
@import url(./__bar/diagram__bar.css);
@import url(./__layout/diagram__layout.css);

.diagram {
    background-color: #F5F6F7;
    width: 100%;
    /* margin: 0 auto; */
    padding: 80px 0 113px;
}

@media (max-width: 768px) {
    .diagram {
        padding: 40px 0 75px;
    }
}

@media (max-width: 475px) {
    .diagram {
        padding: 25px 0 91px;
    }
}    



