.swiper__slide-container {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    overflow: hidden;
    padding: 0 104px 48px;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .swiper__slide-container {
        
    }
}

@media screen and (max-width: 768px) {
    .swiper__slide-container {
        margin-left: 1027px;
        grid-gap: 8px;
        padding: 0 104px 32px;
    }
}

@media screen and (max-width: 320px) {
    .swiper__slide-container {
        margin-left: 1175px;
        padding-bottom: 17px;
    }
}