.swiper-wrapper {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 48px;
}

@media (max-width: 768px) {
    .swiper-wrapper {
        padding-bottom: 31px;
    }
}

@media (max-width: 320px) {
    .swiper-wrapper {
        padding-bottom: 17px;
    }
}