@import url(./__analysis/results__analysis.css);
@import url(./__list/results__list.css);
@import url(./__title/results__title.css);
@import url(./__header/results__header.css);
@import url(./__button/results__button.css);
@import url(./__arrow/results__arrow.css);
@import url(./__link/results__link.css);
@import url(./_hidden/results_hidden.css);

.results {
    background: #F5F6F7;
    /* padding-left: 104px;
    padding-right: 104px; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    
    width: 100%;
    align-items: center;
    padding-bottom: 80px;

}

@media (max-width: 768px) {
    .results {
        padding-bottom: 40px;
    }
}

@media (max-width: 320px) {

}    