.result-card__image-size {
    width: 100%;
    /* height: 272px; */
    height: 19vw;
}

@media (max-width: 768px) {
    .result-card__image-size {
        height: 19vw;
    }
}

@media (max-width: 710px) {
    .result-card__image-size {
        height: 25vw;
    }
}

@media (max-width: 500px) {
    .result-card__image-size {
        height: 63vw;
    }
}