.search__button {
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    height: 64px;
    width: 39%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    border: none;
}

.search__button:hover {
    background: #347EFF;
}

.search__button:active {
    background: #2A65CC;
}

@media (max-width: 768px) {
    .search__button {
        width: 58%;
        height: 56px;
    }
}

@media (max-width: 475px) {
    .search__button {
        margin-top: 33px;
        width: 100%;
        min-height: 56px;
    }
}    