@font-face {
    font-family: 'roboto';
    src: url(./roboto-medium-webfont.woff);
    font-weight: medium;
}

@font-face {
    font-family: 'roboto';
    src: url(./roboto-regular-webfont.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url(./robotoslab-regular-webfont.woff);
    font-weight: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(./SourceSansPro-Regular.woff);
    font-weight: normal;
}