.diagram__grid {
    display: grid;
    grid-template-columns: 104px 1fr;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .diagram__grid {
        
    }
}

@media (max-width: 475px) {
    .diagram__grid {
        grid-template-columns: 79px 1fr;
    }
}    