.swiper__gradient_right {
    right: -20px;
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0, rgba(255,255,255,1) 100%);
}