.swiper__commit {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* color: #1A1B22; */
    /* width: 84%; */
    /* margin-left: 24px;*/
    margin-top: 16px; 
    /* padding-bottom: 58px; */
}