.result-card__box {
    height: 204px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .result-card__box {
        height: 182px;
        margin-top: 6px;
    }
}

@media (max-width: 475px) {
    .result-card__box {
        height: 158px;
        margin-top: 26px;
    }
}    
