@import url(./__title/search__title.css);
@import url(./__subtitle.css/search__subtitle.css);
@import url(./__control/search__control.css);
@import url(./__button/search__button.css);
@import url(./__input/search__input.css);
@import url(./__error-message/search__error-message.css);
@import url(./__image/search__image.css);
@import url(./__image-container/search__image-container.css);

.search {
    display: flex;
    width: 100%;
    height: 576px;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .search {
        max-height: 400px;
    }
}

@media (max-width: 475px) {
    .search {
        max-height: 536px;
        /* margin-bottom: 166px; */
    }
}    