.results__link {
    display: flex;
    justify-content: space-between;
    width: 223px;
    color: #1A1B22;
}

@media (max-width: 768px) {
    
}

@media (max-width: 475px) {
    .results__link {
        margin-top: 13px;
        margin-left: 0;
    }
}    


