.results__link {
    color: #1A1B22;
    display: flex;
    justify-content: space-between;
    width: 225px;
    align-items: center;  
}

@media (max-width: 768px) {
    
}

@media (max-width: 475px) {
    .results__link {
        margin-top: 13px;
        margin-left: 0;
        width: 219px;
    }
}    


