.result-card__date {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
}

@media (max-width: 768px) {
    .result-card__date {
        
    }
}

@media (max-width: 475px) {
    .result-card__date {
        line-height: 10px;
    }
}    


