@import url(../style/vendor/normalize.css);
@import url(../style/page/page.css);
@import url(../style/content/content.css);
@import url(../fonts/fonts.css);
@import url(../style/header/header.css);
@import url(../style/search/search.css);
@import url(../style/results/results.css);
@import url(../style/result-card/result-card.css);
@import url(../style/about-author/about-author.css);
@import url(../style/footer/footer.css);
@import url(../style/preloader/preloader.css);
@import url(../style/error/error.css);
