.search__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-top: 32px;
    width: 545px;
    margin-right: 63px;
    margin-bottom: 0;
}