.footer__link-item {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    letter-spacing: 0.3px;
}

@media (max-width: 768px) {
    .footer__link-item {
        
    }
}

@media (max-width: 475px) {
    .footer__link-item {
        line-height: 42px;
    }
}    
