@import url(./__title/tech__title.css);
@import url(./__img/tech__img.css);
@import url(./__box/tech__box.css);
@import url(./__item/tech__item.css);
@import url(./__name/tech__name.css);
.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F5F6F7;
    width: 100%;
    /* justify-content: space-between; */
    padding-top: 83px;
    padding-bottom: 88px;
}

@media (max-width: 900px) {
    .tech {
    flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
   .tech {
    padding-top: 41px;
    padding-bottom: 40px;
   }
}

@media (max-width: 550px) {
    .tech {
        padding-top: 33px;
        padding-bottom: 16px;
    }
}    