.result-card__info {
    padding: 16px 24px 24px 24px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .result-card__info {
        padding: 16px;
    }
}

@media (max-width: 320px) {

}    