.swiper__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #B6BCBF;
    /* margin-top: 26px; */
    /* margin-left: 24px; */
    /* padding-top: 26px;
    padding-left: 24px; */
}