.footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
    padding: 0;
}

@media (max-width: 768px) {
   
    
}

@media (max-width: 690px) {
    .footer__links {
        flex-direction: column;
        margin-top: 0px;
    }
}    
