.swiper__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    align-content: center;
    margin: 77px auto;
}

@media (max-width: 768px) {
    .swiper__header {
        width: 90%;
        margin: 61px auto;
    }
}

@media (max-width: 320px) {
    
}    

