@import url(./__commit/swiper__commit.css);
@import url(./__contact/swiper__contact.css);
@import url(./__date/swiper__date.css);
@import url(./__email/swiper__email.css);
@import url(./__img/swiper__img.css);
@import url(./__infobox/swiper__infobox.css);
@import url(./__name/swiper__name.css);
@import url(./__slide/swiper__slide.css);
@import url(./__title/swiper__title.css);
@import url(./__link-name/swiper__link-name.css);
@import url(./__link/swiper__link.css);
@import url(./__arrow/swiper__arrow.css);
@import url(./__layout/swiper__layout.css);
@import url(./__header/swiper__header.css);
@import url(./__slide-container/swiper__slide-container.css);
@import url(./__gradient/swiper__gradient.css);
@import url(./__control-slide-arrow/swiper__control-slide-arrow.css);
@import url(./__buttons/swiper__buttons.css);
@import url(./__button/swiper__button.css);
@import url(./__github-link/swiper__github-link.css);
@import url(./__wrapper/swiper__wrapper.css);

.swiper {
    width: 100%;
    background: #F5F6F7;
    margin: 0 auto;
    padding-bottom: 78px;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 768px) {
    .swiper {
        padding-bottom: 40px;
    }
}

@media (max-width: 320px) {
    .swiper {
        padding-bottom: 32px;
    }
}