.about-author__image {
    margin-right: 56px;
    max-height: 32.5vw;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .about-author__image {
        max-height: 40vw;
    }
}

@media (max-width: 768px) {
    .about-author__image {
        max-height: 31vw;
        margin-right: 30px;
    }
}

@media (max-width: 475px) {
    .about-author__image {
        max-height: 85vw;
        margin: 0 auto;
    }
}    